/*------------
    RESET
-------------*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Montserrat", sans-serif;
    color: #fff;
}
img{
    max-width: 100%;
}
li{
    list-style: none;
    cursor: pointer;
    font-weight: 500;
    color: #717171;
}

/*------------
    DEBUG
-------------*/
.debug{
    border: 2px dashed coral;
}

/*------------
    GENERAL
-------------*/
.wrapper-app{
    height: calc(100vh - 70px);
}
.flex{
    display: flex;
}
.between{
    justify-content: space-between;
}
.margin-top{
    margin: 12px 0;
}
.margin-right{
    margin-right: 6px;
}



/*------------
    UTILITY
-------------*/
.btn{
    background: none;
    border: none;
    margin: 5px 0;
    color: #717171;
    cursor: pointer;
}

/*------------
    HEADER
-------------*/
header{
    width: 250px;
    background-color: #000;
    flex-shrink: 0;
    padding: 10px;
    flex-direction: column;
}
.logo .pictogram{
    display: none;
}
.logo img{
    max-width: 70%;
}
.menu-principal li{
    display: flex;
    align-items: center;
}
.menu-principal li img{
    max-height: 28px;
    margin-right: 6px;
}
.create-playlist .btn i{
    background-color: #a3a3a3;
    padding: 10px;
    color: #000;
}
.playlist{
    flex-grow: 1;
    overflow-y: auto;
}
.playlist li{
    margin: 10px 0;
}
.user{
    margin-top: auto;
}
.user .download img{
    max-height: 15px;
}
.admin{
    border-top: 1px solid #fff;
}
.user .admin img{
    max-height: 24px;
    background-color: #808080;
    border-radius: 50%;
}
.download, .admin{
    align-items: center;
}








/*------------
    MAIN
-------------*/
main{
    background-color: bisque;
    overflow-y: auto;
    flex-grow: 1;
}





/*------------
    FOOTER
-------------*/
footer{
    height: 70px;
    background-color: #282828;
    padding: 10px 6px;
}
.box{
    align-items: center;
}
.box .col{
    width: 20%;
    align-items: center;
}
.box .center{
    width: 60%;
}
.box .sx .cover-album{
    max-width: 45px;
}
.box .name-album span{
    font-size: 0.7rem;
    color: #717171;
}
.box .name-album h5{
    font-size: 0.7rem;
}
.box .name-album{
    margin-right: 30px;
}
.box .btn{
    margin: 0 6px;
}
.box .center{
    text-align: center;
}
.center .icons i{
    margin: 0 6px;
    font-size: 22px;
}
.center .progress-bar{
    margin: 0 30px;
}
.box .controls{
    align-items: center;
    justify-content: center;
}
.progress-bar{
    height: 3px;
    background-color: #717171;
    width: 50%;
}
.scrolling{
    height: 100%;
    width: 30%;
    background-color: #fff;
}
.dx .icons i{
    margin: 0 6px;
    font-size: 12px;
}


/****************
    RESPONSIVE
*****************/
@media screen and (max-width: 1100px) {
    
}

@media screen and (max-width: 700px) {
    .box .sx .buttons{
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    header{
        width: 55px;
    }
    .create-playlist, .playlist{
        display: none;
    }
    .logo-1000{
        display: none;
    }
    .logo .pictogram{
        display: block;
        max-height: 30px;
    }
    .menu-principal span{
        display: none;
    }
    .menu-principal img{
        margin: 3px 0;
    }
    .user .btn, h5{
        display: none;
    }

}
